
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
html, body{
    font-family: "HelveticaNeue", "Helvetica Neue", 'Hiragino Kaku Gothic ProN',"Hiragino Kaku Gothic Pro",".HiraKakuInterface-W6", "Hiragino Sans GB W6", "Meiryo-Bold";

    margin: 0;/* 余白の削除 */
    padding: 0;/* 余白の削除 */
    height: 100%;/* 縦の高さを100% */
    width: 100%;/* 横の幅を100% */
    background-color: #fff;
    font-size: 26px;
}
